{% extends "authenticated-base.html" %}

{% block external_js %}
<script src="{{ url_for('static', path='js/app.js')}}"></script>
{% endblock %}


{% block subpage_content %}

    <div class="container" id="content">
        <div class="row">
            <h2>Daily Bulls and Cows</h2>
            <p>Guess the 4-digit number. All digits must be unique.</p>
            
            <form method="POST" action="/app">
                {% for i in range(4) %}
                    <input type="text" 
                        name="d{{ i }}" 
                        maxlength="1" required
                        value="{{ form_values['d' + i|string] if form_values else '' }}">
                {% endfor %}
                <button type="submit">Submit</button>
            </form>
            
            {% if error %}
                <div class="alert alert-danger" style="margin-top: 10px;">{{ error }}</div>
            {% endif %}
            
            {% if success %}
                <div class="alert alert-success" style="margin-top: 10px;">{{ success }}</div>
            {% endif %}
            
        
            {% if guesses %}
            <div>
                <h4>Your Guesses:</h4>
                
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Guess</th>
                            <th>Bulls</th>
                            <th>Cows</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for g in guesses|reverse %}
                        <tr>
                            <td>{{ g.guess_number }}</td>
                            <td>{{ g.bulls }}</td>
                            <td>{{ g.cows }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
            
            <!-- for testing remove after -->
            <!-- <div style="margin-top: 20px; display: flex; gap: 10px;">
                <a href="/app/nuke" class="btn btn-danger btn-sm">delete data</a>
            </div> -->
        </div>
    </div> 
{% endblock %}